* {
	margin:0px; padding:0px; 
}

html, body  {
	width:100%; line-height:normal; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#687985;
}

a {
	text-decoration:none; color:#f7a31f;
}

a:visited {
	text-decoration:none; color:#f7a31f; font-weight:bold;
}

a:hover {
	text-decoration:underline;
}

p{
	padding-bottom: 0.5em;
}

img {
	border:0px;
}

table{
	width:100%;
}

table td {
	text-align:left; vertical-align:top;
}

ul, ol {
	list-style:none; margin:0px; padding:0px; list-style-type:none;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

fieldset {
	padding-left:20px; padding-right:20px;
}

legend {
	margin-left:10px; margin-right:10px;
}


h1 {
	font-size:20px;
}

h2 {
	font-size:18px;
}

h3 {
	font-size:16px;	
}

h4 {
	font-size:14px;	
}

h5 {
	font-size:12px;	
}

h6 {
	font-size:10px;	
}

input.text-form {
	padding:4px; color:#000; border:2px #E6E7E8 solid;
}

input.text-form:hover {
	
}

input.submit-form, input.button-form {
	padding:4px; color:#000; border:2px #E6E7E8 solid;
}

input.submit-form:hover, input.button-form:hover {
	
}

select.select-form {
	padding:4px; color:#000; border:2px #E6E7E8 solid;
}

select.select-form:hover {
	
}

textarea.textarea-form {
	padding:4px; color:#000; border:2px #E6E7E8 solid;
}

textarea.textarea-form:hover {
	
}

.align-left {
	text-align:left;
}

.align-right {
	text-align:right;
}

.align-center {
	text-align:center;
}

.float-left {
	float:left;
	clear:left;
}

.float-right {
	float:right;
	clear:right;
}

.clr, .clear-block {
	clear:both; display:block;
}

br.clr {
	clear:both; line-height:0px; display:block;
}

/***************************************************/
/***************************************************/

body#wrap {
	 text-align:center; background-color:#7d8d99;
}


div#page {
	width:950px;
	margin-left:auto; 
	margin-right:auto;
	background-image:url('images/page_background.gif');
	background-position:left top;
	background-repeat:repeat-y;
	margin-top:10px;
}

div#page-top {
	height:30px;
	background-image:url('images/page_background_top.gif');
	background-position:left top;
	background-repeat:no-repeat;

}

div#page-bottom {
	height:30px;
	background-image:url('images/page_background_bottom.gif');
	background-position:left top;
	background-repeat:no-repeat;

}

div#page-inner {
	top:-15px;
	left:0px;
	text-align:left;
	margin-left:10px;
	margin-right:10px;
	position:relative;
}

/***************************************************/

div#header {
	height:190px; margin-bottom:10px; /*visibility:hidden;*/
}

div#logo {
	width:200px;
	float:left;
	text-align:right;
	margin-top: 30px;
	/*margin-left:10px;*/
}

div#nav {
	width:530px;
	float:left;
	text-align:center;
	margin-top: -5px;
}

div#slogan {	
	width:200px;
	float:right;
	font-family:Verdana, Tahoma;
	text-align: center;
	margin-top: 144px;
}

div#slogan h1 {
	margin-top:100px;
	font-size:16px;
	color:#7d8e9a;
	font-weight:normal;
	letter-spacing:1px;
}

div#main-logo {
	display:none;
}

div#header.home {
	height:320px;
}

div#header.home div#main-logo {
	text-align:center; display:block; margin-top:10px;
}

div#header.home div#logo, div#header.home div#nav , div#header.home div#slogan {
	display:none;
	
}

/***************************************************/

div#content {
	margin-left:10px;
	margin-right:10px;
}

div#content-both {
	float:left;
	width:500px;
	margin-left:8px; 
	margin-right:2px;
}

div#content-inner-both {
	
}

div#content-left, div#content-right {
	float:right;
	width:700px;
	margin-right:10px;
	/*margin-left:10px;
	
	border:1px #000 solid;*/
	
}

div#sidebar-left {
	float:left;
	/*margin-right:-20px;*/
	padding-left:10px;
	width:200px;
}

div#sidebar-left.home {
	width:210px;
	margin-top: -70px;
	margin-left:0px;
	padding-left:0px;
}

div#sidebar-right {
	float:right;
	margin-right:10px;
	width:200px;
	
}

div#sidebar-right.home {
	margin-top: -70px;
}

div.block {
	width:200px;
	margin-bottom:10px;
}

div.block-inner {
	

}

div.block h3.title {	
	color:#fff;
	font-size:14px;
	height:25px;
	line-height:25px;
	padding-left:15px;
	background-image:url('images/block_title_background.gif');
	background-position:left top;
	background-repeat:no-repeat;
}

div.block div.content {
	/*background-color:green;*/
	border-left:1px #bbc6cd solid;
	border-right:1px #bbc6cd solid;
	padding:8px 12px 8px 12px;
}

div.block div.content img {
	margin-bottom:5px;
}

div.block-bottom {
	height:10px;
	background-image:url('images/block_bottom_background.gif');
	background-position:left bottom;
	background-repeat:no-repeat;

}


div.message {
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	color:white;
	font-weight:bold;
}

div.error {
	/*border:2px maroon solid;*/
	background-color:#e44044;
}

div.message ul li {
	margin-bottom:3px;
}

/***************************************************/

div#clients {
	width:473px; /*background-color:black;*/ border:10px #E6E7E8 solid;
}

div#clients ul {
	padding:0px; margin:0px; list-style:none; list-style-type:none;
}

div#clients ul li {
	float:left; width:155px; /*margin:0px 2px 5px 2px;*/ /*padding:10px 0px 10px 0px;*/ height:100px; text-align:center; border:1px #E6E7E8 solid; border-top:0px #E6E7E8 solid;

}

div#clients ul li.last {
	 width:157px;
}

div.clients-featured {
	margin-left:auto;
	margin-right:auto;
	width: 155px;
	height: 100px;
}

/***************************************************/

div#services {
	
}

div#services h3.title {
	color:#f7a31f; font-size:15px;
}

ul.services-parent {
	margin:0px; padding:0px; list-style:none; list-style-type:none; margin-left:10px;
}

ul.services-parent li {
	background-image:url('images/orange_bullets.gif');
	background-position:left 5px;
	background-repeat:no-repeat;
	padding-left:10px;
	padding-bottom:5px;
}

ul.services-parent li a {
	font-size:15px; font-weight:bold; color:#687985;
}

ul.services-child {
	padding:0px; margin:0px; margin-left:10px; list-style:none; list-style-type:none;
}

ul.services-child li {
		background-image:url('images/gray_bullets.gif');


}

ul.services-child li a, ul.services-child li a:visited {
	color:#687985; font-size:12px;
}

ul.services-child li a:hover {
	color:#000;
}

/***************************************************/

div#news {
	
}

div.news-featured {
	text-align:center;
}

div.news-content {
	text-align:left;
}

div.news-list {
	margin-bottom:10px; border-bottom:5px #E6E7E8 solid; padding-bottom:5px;
}

div.news-list-img {
	float:left; width:175px;
}

div.news-list-content {
	float:left; width:500px; margin-left:10px;
}

/***************************************************/

div#portfolios {
	width:700px; /* margin-left:auto; margin-right:auto;*/
}

ul.category-list {
	
	margin:0px; padding:0px; list-style:none; list-style-type:none; margin-left:10px;
}

ul.category-list li {
	background-image:url('images/orange_bullets.gif');
	background-position:left 5px;
	background-repeat:no-repeat;
	padding-left:10px;
	padding-bottom:5px;
}

ul.category-list li  a {
	font-size:15px; font-weight:bold; color:#687985;
}

ul.category-list li  a.active {
	color:#f7a31f;
}

div#portfolio-profile {
	margin-bottom:10px;
	/*padding-top:5px;
	padding-bottom:5px;*/
}

div#portfolio-profile h3.title {
	color:#f7a31f; font-size:15px; margin-top:10px; margin-bottom:10px;
}

div#portfolio-image {
	float:left; width:400px;
}

div#portfolio-brief {
	float:right; width:290px;
}

div#portfolio-brief h3.title {
	margin-bottom:10px; color:#f7a31f;
}

ul.portfolio-thumbnail {
	margin:0px; padding:0px; list-style:none; list-style-type:none; 
}

ul.portfolio-thumbnail li {
	float:left; width:140px; margin-left:0px; margin-right:12px; /*border:1px #f7a31f solid;*/ height:100px;
}



/***************************************************/

div#contactus {
	
}


div#contactus div.form-items {
	width:500px; clear:both;
}

div#contactus label {
	font-weight:bold;
}

div#contactus span.form {
	display:block; margin-bottom:4px;
}

div#contactus span.must {
	
	background-image:url('images/required_field_icon.gif');
	background-repeat:no-repeat;
	background-position:right 5px;
	padding-right:30px;
}

div#contactus span.option {
	/*padding-left:10px;*/
}

div#contactus span.left {
	float:left; width:100px; 
}

div#contactus span.right {
	float:left; width:350px;
} 

div#contactus span.submit {
	margin-left:100px; margin-top:5px;
}


div#contactus input.text-form, textarea.textarea-form {
	width:350px;
}

div#contactus select.select-form {
	width:360px;
}

div#contactus textarea.textarea-form {
	height:200px;
}

/***************************************************/


div#footer {
	margin-top:20px;
	padding-top:10px;
	border-top:10px #E6E7E8 solid; clear:both;
}

div#footer-links {
	
	width:720px;  margin-left:auto; margin-right:auto; clear:left;
}

div#footer-links ul {
	padding:0px; margin:0px; list-style:none; list-style-type:none; 
}

div#footer-links ul li {
	float:left; width:90px; text-align:center;
}

div#footer-links a,div#footer-links a:visited  {
	color:#687985; font-weight:bold;
}

div#message {
	text-align:center; 	/*line-height:30px;*/ padding-top:15px;
}